/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-bg: repeating-linear-gradient(#000, transparent 4px),
    repeating-linear-gradient(90deg, #000, transparent 4px),
    linear-gradient(180deg, #007f0c 0%, #004306 100%);
  --main-theme-color: black;
  --accent-color: #00cc14;
  --button-text-color: var(--accent-color);
  --heart-color: red;

  --animation-time: 0.3s;
}