@charset "UTF-8";
/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-color);
  background-image: var(--main-bg);
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(375px, 100%, 700px);
}

.button__text {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(375px, 100%, 700px);
  margin: 100px 0;
  border: 2px solid currentColor;
  font-family: 'Press Start 2P', sans-serif;
  background-color: var(--main-theme-color);
}
.header__logo {
  -webkit-margin-before: 136px;
          margin-block-start: 136px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  font-size: clamp(3.0625rem, calc(1.9087rem + 4.9231vw), 4.0625rem);
  line-height: clamp(3.0625rem, calc(1.9087rem + 4.9231vw), 4.0625rem);
}
.header__name {
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
  font-size: clamp(0.875rem, calc(0.226rem + 2.7692vw), 1.4375rem);
  line-height: clamp(0.875rem, calc(0.226rem + 2.7692vw), 1.4375rem);
  text-transform: uppercase;
}
.header__theme-menu {
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
}

.theme-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}
.theme-menu__item {
  -webkit-margin-start: 18px;
     -moz-margin-start: 18px;
          margin-inline-start: 18px;
}
.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background: none;
  -webkit-transition: opacity var(--animation-time);
  transition: opacity var(--animation-time);
  cursor: pointer;
}
.theme-menu__button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  -webkit-transition: width var(--animation-time);
  transition: width var(--animation-time);
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
}
.theme-menu__button:hover {
  opacity: 0.6;
}
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  -webkit-margin-start: -4px;
     -moz-margin-start: -4px;
          margin-inline-start: -4px;
  -webkit-animation: 0.5s ease-in-out infinite alternate arrow;
          animation: 0.5s ease-in-out infinite alternate arrow;
  translate: -100% 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
  border: 2px solid var(--accent-color);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--main-theme-color);
}
@supports (font-variation-settings: normal) {
  .card {
    font-family: 'Inter-Variable', sans-serif;
  }
}
.card__header {
  width: 100%;
  -webkit-border-after: inherit;
          border-block-end: inherit;
  padding: 4px 10px;
  font-weight: 785;
  letter-spacing: -1.7px;
}
.card__image {
  height: 100%;
}
.card__image-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1;
}
.card__image-label {
  position: absolute;
  inset: 25px 25px auto auto;
  z-index: 1;
  opacity: 50%;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-shadow: -1px 0 var(--main-theme-color), 0 1px var(--main-theme-color), 1px 0 var(--main-theme-color), 0 -1px var(--main-theme-color);
  mix-blend-mode: hard-light;
}
@supports (text-stroke: 0.5px var(--main-theme-color)) or (-webkit-text-stroke: 0.5px var(--main-theme-color)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--main-theme-color);
    text-stroke: 0.5px var(--main-theme-color);
  }
}
.card__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
  margin: 27px 26px;
  font-weight: 465;
}
.card__buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 25px 25px;
}
.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--main-theme-color);
}
.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transition: translate 0.5s ease-in-out 0s;
  transition: translate 0.5s ease-in-out 0s;
  translate: -100%;
}
.card__like-button:hover::before {
  translate: 0;
}
.card__like-button:focus-visible {
  -webkit-box-shadow: 2px 2px var(--accent-color);
          box-shadow: 2px 2px var(--accent-color);
  -webkit-transition: -webkit-box-shadow var(--animation-time);
  transition: -webkit-box-shadow var(--animation-time);
  transition: box-shadow var(--animation-time);
  transition: box-shadow var(--animation-time), -webkit-box-shadow var(--animation-time);
}
.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  background-color: var(--main-theme-color);
}
.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  -webkit-transition: border-color var(--animation-time);
  transition: border-color var(--animation-time);
}
.card__icon-button:hover .core {
  fill: var(--accent-color);
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}
.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  -webkit-transition: fill var(--animation-time) 0.05s;
  transition: fill var(--animation-time) 0.05s;
}
.card__icon-button:active .core {
  fill: var(--heart-color);
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}
.card__icon-button:active .main-body {
  fill: var(--heart-color);
  -webkit-transition: fill var(--animation-time) 0.05s;
  transition: fill var(--animation-time) 0.05s;
}

.core,
.main-body,
.sparks {
  fill: transparent;
}

.core {
  -webkit-transition: fill var(--animation-time) 0.03s;
  transition: fill var(--animation-time) 0.03s;
}

.main-body {
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}

.contour {
  fill: var(--accent-color);
  -webkit-transition: fill linear 0.1s;
  transition: fill linear 0.1s;
}

.like-icon.is-liked {
  -webkit-animation: 1 ease-in var(--animation-time) 0.1s backwards beat;
          animation: 1 ease-in var(--animation-time) 0.1s backwards beat;
}
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}
.like-icon.is-liked .contour {
  fill: var(--heart-color);
  -webkit-transition: fill var(--animation-time) 0.06s;
  transition: fill var(--animation-time) 0.06s;
}
.like-icon.is-liked .sparks {
  -webkit-animation: 2 ease-in alternate var(--animation-time) 0.3s both sparks;
          animation: 2 ease-in alternate var(--animation-time) 0.3s both sparks;
}

.button-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-margin-after: 105px;
          margin-block-end: 105px;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  background-color: var(--main-theme-color);
}
.button-save__icon {
  width: 21px;
}
.button-save__text {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 12.6px;
}

.card__image-2 {
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
}

.card__image-3 {
  -webkit-filter: saturate(3);
          filter: saturate(3);
}

.card__image-4 {
  -webkit-filter: hue-rotate(30deg);
          filter: hue-rotate(30deg);
}

.card__image-5 {
  -webkit-filter: invert(0.8);
          filter: invert(0.8);
}

.card__image-6 {
  -webkit-filter: sepia(0.9);
          filter: sepia(0.9);
}

.card__image-7 {
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

.card__image-8 {
  -webkit-filter: invert(0.8) hue-rotate(90deg);
          filter: invert(0.8) hue-rotate(90deg);
}

.modal {
  padding: 30px;
  color: var(--accent-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--main-theme-color);
}
.modal[open] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.modal::-webkit-backdrop {
  -webkit-backdrop-filter: brightness(0.3);
          backdrop-filter: brightness(0.3);
}
.modal::backdrop {
  -webkit-backdrop-filter: brightness(0.3);
          backdrop-filter: brightness(0.3);
}
.modal__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.modal__icon {
  width: 39px;
}
.modal__text {
  max-width: 234px;
  text-transform: uppercase;
}
.modal__button {
  width: 100%;
  border: 2px solid var(--accent-color);
  padding: 7px 0;
  font: inherit;
  background-color: transparent;
}
